/* 
#blog,
#post {
  -webkit-transform: translateZ(-200px) translateX(0%) rotateY(45deg);
    transform: translateZ(-200px) translateX(0%) rotateY(45deg);
} */
#blog h1 small {
  font-size: 12px;
  font-style: italic;
}
#blog a, #blog a:link, #blog #blog a:visited, #blog a:active {
  color: #c5c5c5;
  text-shadow: 2px 0px 2px #050505;
}
#post .content {
    padding: 0;
    /* font-size: 12px; */
  }
  
#post
{
  font-size: 12px; 
} 
  #post .content ul {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    list-style: circle;
    padding-left: 20px;
  }

  #post .content ul li {
    margin: 5px;
  }

#post .voltar {
  margin: 5px;
  display: block;
  pointer-events: all;
  cursor: pointer;
  z-index: 999999999999;
  font-size: 28px;
  border: 2px solid transparent;
  width: 20px;
  padding: 5px;
}


#post .voltar:hover {
  border-color: var(--secondary);
}

#blog li {
  display: inline-block;
  position: relative;
  padding: 15px;
}

#blog li a {
  z-index: 20
}
#blog li::after,
#blog li::before {
  z-index: -1;
}