@import url("variaveis.css");
@import url("menu.css");
@import url("responsive.css");

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  scroll-behavior: smooth;
  scroll-padding-top: 30vh;
  background: var(--background);
  color: white;
}
*,
*:before,
*:after {
  transition: all 300ms ease, transform 500ms ease, color 100ms ease;
}

a,
a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}
.smaller {
  font-size: 12px;
}
.content {
  padding: 10px;
  margin: 20px;
  min-height: 100%;
  position: relative;
  display: block;
  z-index: 9;
}

section {
  margin-left: 110px;
}

article {
  display: block;
  position: relative;
  min-height: 50vh;
  margin: 20px 30px 20px 20px;
  padding: 20px;
  margin-top: 50vh;
}

article:hover {
  box-shadow: 0px 0px 20px #000000;
}
article:hover:before,
article:hover:after {
  transform: skewY(0deg);
  border-color: white;
}
article:before,
article:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  border: 1px solid;
  left: 0;
  transform: skewY(-1deg);
  z-index: 1;
}
article:before {
  top: 0;
  border-color: var(--primary);
  border-bottom: none;
}

article:after {
  border-top: none;
  top: 50%;
  border-color: var(--secondary);
}

body.scrolling article:after,
body.scrolling article:before {
  transform: skewY(-2deg);
}

article#skils * {
  margin: 0;
}

article#skils ul * {
  font-size: 12px;
}

article#skils ul li {
  display: inline-block;
  margin-right: 10px;
}

article ul {
  padding: 5px;
  margin: 2px;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

h4,
h5,
h6 {
  margin: 2px 5px;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to left, var(--primary), var(--secondary));
  transform: skewY(1deg);
}

#contact a {
  padding: 5px 10px;
  margin: 10px;
  font-weight: 700;
  position: relative;
}
#contact a:hover {
  color: transparent;
}
/*#contact a:hover{
  background-image: linear-gradient(to left, var(--primary), var(--secondary));
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
*/
#contact a:after,
#contact a:before {
  content: "";
  position: absolute;
  display: block;
}

#contact a:before {
  width: 0%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to left, var(--primary), var(--secondary));
  z-index: -1;
  /* transform: skewX(-15deg) rotate(5deg); */
}
#contact a:hover:before {
  width: 100%;
}

#contact a:after {
  content: attr(data-text);
  color: transparent;
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  transition: color 399ms ease;
}

#contact a:hover:after {
  top: 2px;
  left: 2px;
  color: white;
  /* height: 60%; */
  word-break: unset;
  width: calc(100% - 25px);
  /* transform: skewX(-15deg) rotate(5deg); */
  background: var(--background);
  overflow: visible;
  white-space: nowrap;
  bottom: 2px;
}

li {
  margin: 16px 5px;
}
li[data-prefix]:before {
  content: attr(data-prefix);
  width: 40px;
  white-space: normal;
  word-wrap: break-word;
  position: absolute;
  left: 0px;
  font-style: italic;
  font-size: 12px;
}

body[data-section] section {
  opacity: 0;
}

body[data-section-active] section {
  display: none;
}


body[data-section] section.active  {
  display: block;
  opacity: 1;
}

#post .content {
  padding: 0;
}

#post > article {
  padding: 0 !important;
}