aside {
  position: fixed;
  width: 200px;
  display: block;
  height: 100vh;
}
.me img {
  width: 78px;
  border-radius: 50%;
  position: relative;
  border: 4px solid var(--background);
  margin: 2px;
}

.me .img-wraper {
  display: block;
  position: relative;
  padding: 0;
  margin: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(to left, var(--primary), var(--secondary));
}

.me:hover img {
  border-color: white;
}

.me:hover img-wraper {
    background: white;
  }
  
nav {
  position: relative;
  display: block;
  padding: 5px;
  margin-top: 15px;
  margin-left: 5px;
}

nav a,
nav a:link,
nav a:visited,
nav a:active {
  display: block;
  color: var(--primary);
  text-decoration: none;
}

nav a[data-text] {
  display: block;
  position: relative;
  color: transparent;
  transform: skewY(15deg);
}

nav a[data-text]:before,
nav a[data-text]:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 700;
}

nav a[data-text]:before {
  color: var(--primary);
  line-height: 6px;
  overflow: hidden;
  padding-top: 8px;
}

nav a[data-text]:after {
  color: var(--secondary);
  top: 1px;
  left: 2px;
  line-height: 0px;
  overflow: hidden;
  padding-bottom: 9px;
  margin-top: 14px;
}
nav a[data-text]:hover:after {
  top: -3.1px;
  left: 0px;
}

nav a[data-text]:hover:before,
nav a[data-text]:hover:after {
  color: white;
}
