@media (max-width: 768px) {
  body {
    scroll-padding-top: 100px !important;
  }
  section {
    margin-left: 10px !important;
  }
  article {
    margin-right: 20px !important;
    margin: 5px 10px 5px 5px !important;
    padding: 5px !important;
    margin-top: 5px !important;
  }
  .content {
    padding: 5px !important;
    margin: 5px !important;
  }
  aside {
    width: 100% !important;
    height: 125px !important;
    z-index: 99;
    background: linear-gradient(to bottom, var(--background) 80%, transparent);
}
  main {

    margin-top: 110px;
  }
  nav {
    display: inline-block !important;
    position: absolute;
    top: 10px;
    right: 20%;
  }
  .translations {
    display: inline-block !important;
    position: absolute;
    top: -10px;
    right: 30%;
  }
  .me {
      margin-top: -10px;
  }
  nav a[data-text]:before,
  nav a[data-text]:after,
  nav a[data-text] {
    transform: skew(0deg) !important;
    display: inline-block !important;
    width: 20px;
    overflow: hidden;
    font-size: 24px;
    letter-spacing: 8px;
  }
}
