@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.menuBar{
    width:100%;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
background-color:#66C2FF;
    }
#menu{
    width:100%;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
background-color:#331111;
    }
#menu ul li { display: inline; }
html,body{
 	font-family: 'BebasRegular';
	width:100%;
	height:100%;
}

.navigation{
text-align:center;
	position:fixed;
	z-index:1;
	top:0px;
width:100%;
background-color:#FFFFFF;
}
.navigation li{
	font-size: 20px;
	color:#66C2FF;
	display:block;
	padding: 10px 0 0 10px;
	line-height:50px;
	margin-bottom:2px;
	
	-webkit-transition: all .2s ease-in-out;
	
	text-align:center;
	width:53px;
}
.navigation li:hover,.active{
	text-align:center;
	width:100px!important;
}
.envatologo{
position:fixed;
top:30%;
left:60%;
width:246px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}



a:link {
color: #019fe9;
    text-decoration: none;
}

a:visited {
color: #019fe9;
    text-decoration: none;
}

a:hover {
color: #000000;
    text-decoration: none;
}

a:active {
color: #019fe9;
   text-decoration: none;
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image:url(b1.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
/******************************
 SLIDE 2 
*******************************/
#slide2{
background-image:url(b2.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	

/******************************
 SLIDE 3 
*******************************/
#slide3{
background-image:url(b3.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(b4.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


