body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
form,
fieldset,
input,
p,
blockquote,
th,
td,
legend {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cardo', serif;
}
h1 {
    font-family: 'Bevan', serif;
    font-size: 3.0em;
}
h2 {
    font-family: 'Cardo', serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
p {
    line-height: 1.4em;
    margin-bottom: 1.0em;
}
a {
    color: #821122;
}
#content {
    width: 925px;
    margin: 0 auto;
}
#filters {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
#filters a {
    color: #000;
    font-size: 12px;
    padding: 5px;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 3px;
}
#filters a:last-child {
    margin-right: 0;
}
#filters a.PUB {
    background: #3d79af;
    color: #fff;
}
#filters a.PRIV {
    background: #c3608f;
    color: #fff;
}
#vis {
  
    min-height: 550px;
}
#blurb {
   →ĸ height: 60px;
    border-top: 1px solid #e2e2e2;
/*   // padding-top: 20px;*/
}
path {
    stroke: #e2e2e2;
    stroke-width: 0.9;
    fill: none;
}
path.current,
path.highlight.current {
    stroke: #000;
    stroke-width: 1.7;
}
.PUB.highlight {
    stroke: #3d79af;
}
.PRIV.highlight {
    stroke: #c3608f;
}
.highlight {
    stroke-width: 1px;
}
line {
    stroke: black;
}
text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.axis {
    stroke-width: 0.8;
    stroke: #000;
}
.xTicks,
.yTicks {
    stroke-width: 0.6;
    stroke: #000;
}
#cite {
    font-size: 0.8em;
    text-align: right;
    margin-top: 10px;
    padding-bottom: 20px;
}
#cite a {
    background: #e2e2e2;
    text-decoration: none;
    color: #821122;
}
