/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {
	display:block;
}/* vertical menu */
nav.horizontal ul li {
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}

/*--- end reset code ---*/

body {
	margin:0;
	padding:0;
	background:url(../images/terrace.png) no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}
.header {
	text-align:center;
	margin-top:1%;
}
.header h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color:#2F1E12;
	font-size:45px;
	text-transform:uppercase;
	font-weight: 700;
	margin-top:2em;
}
/* start booking_room */
img {
   padding:1px;
   border:1px solid #021a40;
}
.banner-top {
    margin: 1% auto;
    width: 30%;
    padding: 2em 30px;
    background: #2980b9;
    font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
}
.banner-top h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 6% 0;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
}
.banner-bottom{
	margin-top:3%;
}
.bnr-left {
    width: 37%;
    float: left;
    margin-right: 3%;
}
.bnr-right1 {
	width:59%;
	float:right;
}
.bnr-one{
	margin-top:3.3%;
}
.bnr-one:nth-child(1){
	margin-top:0;
}
.bnr-right input[type="text"] {
	width: 95%;
	color: #9E9E9E;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 10px 10px;
	border: none;
	-webkit-appearance: none;
	border-radius: 5px;
}

.bnr-right select {
	width: 95%;
    background-color: #fff;
	color: #9E9E9E;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 10px 10px;
	border: none;
	-webkit-appearance: none;
	border-radius: 5px;
}
.date {
	background: url(../images/date-icon.png) no-repeat 95.5% 45% #fff;
	cursor: pointer;
}

select {
	background: url(../images/arrow-circle-down.png) no-repeat 95.5% 45% #fff;

}
.bnr-btn {
    text-align: center;
}
.bnr-btn input[type=submit] {
    color: #FFFFFF;
    padding: 7px 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background: #3498db;
    outline: none;
	border-radius: 5px;
}
.bnr-btn input[type=submit]:hover{
	background:#403F45;
	color:#fff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.bnr-right1 input[type="text"] {
    width: 92%;
    color: #9E9E9E;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    -webkit-appearance: none;
	border-radius: 5px;
}
.bnr-left input[type="text"] {
    width: 95%;
    color: #9E9E9E;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    -webkit-appearance: none;
	border-radius: 5px;
}

.bnr-left select {
    width: 85%;
    color: #9E9E9E;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    border: none;
    -webkit-appearance: none;
	border-radius: 5px;
}


.banner-bottom p {
    font-size: 1em;
    text-align: center;
    color: #fff;
    margin: 1em 0;
    line-height: 1.8em;
}
.footer {
	margin-top:5%;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
.footer p {
	color:#2F1E12;
	font-size:16px;
	line-height:25px;
}
.footer a, a:active {
	color:#E74C3C;
	text-decoration:none;
}
.footer a:hover {
	color:#E74C3C;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}

/*--responsive-starts-here--*/
@media (max-width:1440px){
.banner-top {
    width: 73%;
}
}
@media (max-width:1366px){
.banner-top {
    width: 64%;
}
}
@media (max-width:1280px){
.banner-top {
    width: 67%;
}
}
@media (max-width:1024px){
.banner-top {
    width: 75%;
}
}
@media (max-width: 900px){
.banner-top {
    width: 71%;
}
}
@media (max-width: 667px){
.banner-top {
    width: 85%;
}
}
@media (max-width: 568px){
.footer p {
	font-size:45px;
}
}
@media (max-width: 414px){
.header h1 {
    margin-top: 1em;
}
.footer {
	margin-top: 15%;
}
.footer p {
    font-size: 14px;
}
.bnr-left {
    width: 33%;
}
.banner-bottom p {
    font-size: 0.9em;
}
}
@media (max-width: 384px){
.header h1 {
    margin-top: 0.5em;
}
.header h1 {
    font-size: 38px;
}
.banner-top h2 {
    font-size: 1.5em;
    margin: 0 0 7% 0;
}
.banner-top {
    margin: 4% auto;
    padding: 2em 22px;
	width:74%;
}
.bnr-left {
    width: 31%;
}
.banner-bottom p {
    font-size: 0.875em;
    line-height: 1.5em;
}
.footer {
    margin-top: 7%;
}
.bnr-btn input[type=submit] {
    padding: 7px 20px;
    font-size: 14px;
}
}
